rasp_camera/build
rasp_camera/install
rasp_camera/log

Serial/Motion_V1/ros_ws/build
Serial/Motion_V1/ros_ws/install
Serial/Motion_V1/ros_ws/log

Serial/Motion_V2/ros_ws/build
Serial/Motion_V2/ros_ws/install
Serial/Motion_V2/ros_ws/log